@model Shop.Web.ViewModels.Product.ProductViewModel
@{
    ViewBag.Title = "Product";
}

<h2>@Model.ProductName</h2>

<table>
    <tr>
        <td>Price</td>
        <td>@Model.UnitPrice</td>
    </tr>
    <tr>
        <td>Units in stock</td>
        <td>@Model.UnitsInStock</td>
    </tr>
    <tr>
        <td>Units on order</td>
        <td>@Model.UnitsOnOrder</td>
    </tr>
    <tr>
        <td colspan="2">@Html.ActionLink("Edit", "Edit", "Product", new { id = Model.Id }, null)<td>
    </tr>

</table>

<div>
    @Html.ActionLink("Back to List", "Index", "Products")
</div>

